<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="mb-3">
        <label for="Username">Username</label>
        <input type="email" class="form-control" id="Username" formControlName="username">
    </div>
    <div *ngIf="username?.touched && username?.errors?.required" class="alert alert-danger" >
        This field is required!
    </div>
    <div class="mb-3">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password" formControlName="password">
    </div>
    <div *ngIf="password?.touched && password?.errors?.required" class="alert alert-danger" >
        This field is required!
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>